%h1 d3 Examples

%dl
  - example_groups.each do |type, examples|
    %dt= type.titleize
    %dd
      %ul
        = list_of examples do |example|
          = link_to example.name.titleize, example.path
